.search-box {
  width: 100%;
  padding: 0 0 125px 0;
}

label {
  position: relative;
}

input {
  position: relative;
  background: #202020;
  border: 1px solid #2e2e2e;
  border-radius: 50px;
  color: #adadad;
  font-size: 1.5rem;
  outline: none !important;
  padding: 20px 50px 20px 75px;
  width: 500px;
}

.input-emoji {
  position: absolute;
  left: 25px;
  top: -4px;
  font-size: 2.2rem;
}

.wrapper {
  display: grid;
  justify-content: center;
}

.grid-container {
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(1, 400px);
  grid-gap: 25px;
  padding-bottom: 100px;
}

@media screen and (min-width: 1080px) {
  .grid-container {
    grid-template-columns: repeat(3, 400px) !important;
  }
}

.status-message {
  font-size: 3rem;
}

